{% extends 'base.html.twig' %}

{% block title 'Edition article' %}

{% block content %}

    <div class="container mt-4">
        <h2>Modifier l'article</h2>
        {{ include('admin/post/_form.html.twig', {form: form, button: 'Modifier'}) }}
    </div>

{% endblock %}




