{% for comment in comments %}
    <div class="col-md-12">
        <div class="card mb-3 bg-light">
            <div class="card-body">
                <h5 class="card-title">pseudo</h5>
                <p class="text-muted fst-italic">publié le {{ comment.createdAt|date('d-m-Y à H:i:s') }}</p>
                <p>{{ comment.content }}</p>
            </div>
        </div>
    </div>
{% endfor %}