{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Etape 1{% endblock %}

{% block content %}
<section class="container mt-4">

    <h2>Mot de passe oublié - Etape 1</h2>

    {{ form_start(forgotPasswordFormStep1) }}

    <div class="row mt-5">
        <div class="col-md-6">
            {{ form_row(forgotPasswordFormStep1.email.first) }}
        </div>
        <div class="col-md-6">
            {{ form_row(forgotPasswordFormStep1.email.second) }}
        </div>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-outline-dark">Envoyez-moi un lien de récupération</button>
    </div>
    {{ form_end(forgotPasswordFormStep1) }}
</section>

{% endblock %}


